<br/>
<div class="p-md-12">
  <button pButton type="button" label="Novo" (click)="novo()"></button>
</div>
<br/>
<div class="p-grid">
  <p-table [value]="colaboradores">
    <ng-template pTemplate="header">
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-col>
        <tr>
            <td>{{col.cpf}}</td>
            <td>{{col.nome}}</td>
            <td>{{col.telefone}}</td>
            <td>{{col.email}}</td>
            <td>
                <p-button (click)="editar(col.id)" style="margin: 5px;" icon="pi pi-pencil"></p-button>
                <p-button (click)="excluir(col.id)" style="margin: 5px;" icon="pi pi-times"></p-button>

              </td>
        </tr>
    </ng-template>
  </p-table>
</div>

