<div class="p-md-6 p-lg-11">
  <div>
    <strong >Novo Colaborador</strong>
  </div>
</div>

<div class="col-sm-12">
  <div>
    <label >Nome:</label>
  </div>
  <div>
    <input  [(ngModel)]="colaborador.nome" pInputText/>
  </div>
  <div>
    <label >CPF:</label>
  </div>
  <div>
    <input [(ngModel)]="colaborador.cpf" pInputText/>
  </div>
  <div>
    <label >Telefone:</label>
  </div>
  <div>
    <input [(ngModel)]="colaborador.telefone" pInputText/>
  </div>
  <div>
    <label >Email:</label>
  </div>
  <div>
    <input [(ngModel)]="colaborador.email" pInputText/>
  </div>
</div>
<div>
  <br/>
  <div>
      <button pButton *ngIf="!colaborador.id" style="margin: 5px;" type="button" label="Criar" (click)="criar()" ></button>
      <button pButton *ngIf="colaborador.id" style="margin: 5px;" type="button" label="Alterar" (click)="alterar()" ></button>
      <button pButton style="margin: 5px;" type="button" label="Voltar" (click)="voltar()"></button>
  </div>

  <br/>

</div>

